In [9]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import pandas as pd
from scipy.linalg import svd, diagsvd
import random
import copy

# Começo

In [10]:
#ler arquivo csv
df = pd.read_csv('ratings_small.csv')
df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [11]:
# criação da A
A = pd.pivot_table(df, values='rating', index='userId', columns='movieId')

# preenche valores faltantes com 2.5
A = A.fillna(2.5)


# exibição da A
print(A)

movieId  1       2       3       4       5       6       7       8       \
userId
1           2.5     2.5     2.5     2.5     2.5     2.5     2.5     2.5
2           2.5     2.5     2.5     2.5     2.5     2.5     2.5     2.5
3           2.5     2.5     2.5     2.5     2.5     2.5     2.5     2.5
4           2.5     2.5     2.5     2.5     2.5     2.5     2.5     2.5
5           2.5     2.5     4.0     2.5     2.5     2.5     2.5     2.5
...         ...     ...     ...     ...     ...     ...     ...     ...
667         2.5     2.5     2.5     2.5     2.5     4.0     2.5     2.5
668         2.5     2.5     2.5     2.5     2.5     2.5     2.5     2.5
669         2.5     2.5     2.5     2.5     2.5     2.5     2.5     2.5
670         4.0     2.5     2.5     2.5     2.5     2.5     2.5     2.5
671         5.0     2.5     2.5     2.5     2.5     2.5     2.5     2.5

movieId  9       10      ...  161084  161155  161594  161830  161918  161944  \
userId                   ...
1           2.5     2.5  ...     2.5     2.5     2.5     2.5     2.5     2.5
2           2.5     4.0  ...     2.5     2.5     2.5     2.5     2.5     2.5
3           2.5     2.5  ...     2.5     2.5     2.5     2.5     2.5     2.5
4           2.5     4.0  ...     2.5     2.5     2.5     2.5     2.5     2.5
5           2.5     2.5  ...     2.5     2.5     2.5     2.5     2.5     2.5
...         ...     ...  ...     ...     ...     ...     ...     ...     ...
667         2.5     2.5  ...     2.5     2.5     2.5     2.5     2.5     2.5
668         2.5     2.5  ...     2.5     2.5     2.5     2.5     2.5     2.5
669         2.5     2.5  ...     2.5     2.5     2.5     2.5     2.5     2.5
670         2.5     2.5  ...     2.5     2.5     2.5     2.5     2.5     2.5
671         2.5     2.5  ...     2.5     2.5     2.5     2.5     2.5     2.5

movieId  162376  162542  162672  163949
userId
1           2.5     2.5     2.5     2.5
2           2.5     2.5     2.5     2.5
3           2.5     2.5     2.5     2.5
4           2.5     2.5     2.5     2.5
5           2.5     2.5     2.5     2.5
...         ...     ...     ...     ...
667         2.5     2.5     2.5     2.5
668         2.5     2.5     2.5     2.5
669         2.5     2.5     2.5     2.5
670         2.5     2.5     2.5     2.5
671         2.5     2.5     2.5     2.5

[671 rows x 9066 columns]

In [12]:
A = A.values
A

array([[2.5, 2.5, 2.5, ..., 2.5, 2.5, 2.5],
       [2.5, 2.5, 2.5, ..., 2.5, 2.5, 2.5],
       [2.5, 2.5, 2.5, ..., 2.5, 2.5, 2.5],
       ...,
       [2.5, 2.5, 2.5, ..., 2.5, 2.5, 2.5],
       [4. , 2.5, 2.5, ..., 2.5, 2.5, 2.5],
       [5. , 2.5, 2.5, ..., 2.5, 2.5, 2.5]])

In [13]:
#criar um arquivo csv results
df = pd.DataFrame(columns=['k', 'dif_media'])
df.to_csv('results.csv', index=False)

In [14]:

for u in range (50):
    K = u+1
    print(K)

    lista_media_diff = np.array([])
    for i in range(10):
        num = 2.5
        while True:
            if num != 2.5:
                break
            else:
                i,j = random.randint(0, A.shape[0]-1), random.randint(0, A.shape[1]-1)
                num = A[i,j]
    
        B = copy.deepcopy(A)
        B[i][j] = A[i][j]
            
            
        u, s, vt = svd(B, full_matrices=False)
    
        """Remove elementos de u, s e vt deixando somente K componentes restantes
        """ 
        u_ = u[:,:K]
        s_ = s[:K]
        vt_ = vt[:K]
    
    
        """Recomenda um filme para um usuário baseado em sua avaliação
        """ 
        sigma = diagsvd(s_, u_.shape[1], vt_.shape[0])
        A_ = u_ @ sigma @ vt_
    
        diferenca = abs(A_[i][j] - A[i][j])
        lista_media_diff = np.append(lista_media_diff, diferenca)
        #calcula a média das diferenças
    media_diff = np.mean(lista_media_diff)
    #salva os resultados em um arquivo csv
#     df = pd.DataFrame([[K, media_diff]], columns=['k', 'dif_media'])
#     df.to_csv('results.csv', mode='a', header=False, index=False)

# #ler arquivo csv
# df = pd.read_csv('results.csv')
# df.head()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

   k  dif_media
0  1   0.730766
1  2   1.409921
2  3   1.209103
3  4   1.243522
4  5   1.150665